<?xml version="1.0" encoding="UTF-8"?>
<type_map>
	<type>
		<fix>STRING</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>INT</fix>
		<java>java.lang.Integer</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>FLOAT</fix>
		<java>java.lang.Float</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>MULTIPLEVALUESTRING</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>TIME</fix>
		<java>java.lang.Date</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>DATE</fix>
		<java>java.lang.Date</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>DATA</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>CHAR</fix>
		<java>java.lang.Character</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>MONTHYEAR</fix>
		<java>java.lang.Integer</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>DAYOFMONTH</fix>
		<java>java.lang.Integer</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>PRICE</fix>
		<java>java.math.BigDecimal</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>AMT</fix>
		<java>java.math.BigDecimal</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>QTY</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>CURRENCY</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>EXCHANGE</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>UTCTIMESTAMP</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>BOOLEAN</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>LOCALMKTDATE</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>PRICEOFFSET</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>UTCDATE</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>UTCTIMEONLY</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>SEQNUM</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>LENGTH</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>NUMINGROUP</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>CHAR</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>PERCENTAGE</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>COUNTRY</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>UTCDATEONLY</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>MULTIPLECHARVALUE</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>MONTH-YEAR</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>DAY-OF-MONTH</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>MULTIPLESTRINGVALUE</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>TZTIMEONLY</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>TZTIMESTAMP</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
	<type>
		<fix>QTY</fix>
		<java>java.lang.String</java>
		<converter></converter>
		<format></format>
	</type>
</type_map>